<div class="feature">
    <i class="fa fa-4x fa-search"></i>
    <h2>Search</h2>
    <p>Easily search for new addons across multiple providers. Including Curse.com and WoWInterface.</p>
</div>
<div class="feature">
    <i class="fa fa-4x fa-download"></i>
    <h2>Install</h2>
    <p>At the click of a button have an addon downloaded and installed, ready to use. Works for addons kept in Git, SVN, and Mercurial too.</p>
</div>
<div class="feature">
    <i class="fa fa-4x fa-refresh"></i>
    <h2>Update</h2>
    <p>Update a single addon, or all at once. Automatically download the latest version and install it.</p>
</div>
<div class="feature">
    <i class="fa fa-4x fa-trash-o"></i>
    <h2>Delete</h2>
    <p>Don't want that addon anymore? Let firestorm delete it and all of its stored data.</p>
</div>
<div class="feature">
    <i class="fa fa-4x fa-archive"></i>
    <h2>Backup</h2>
    <p>Just in case things go wrong, firestorm will backup your addons and their data for you. Easily create backups, restore backups and schedule automatic backups.</p>
</div>
<div class="feature">
    <i class="fa fa-4x fa-usd"></i>
    <h2>For Free</h2>
    <p>firestorm is open-source and free to download and use.</p>
</div>
