<header>
    <div class="wrapper">
        <span>firestorm</span>
        <img class="logo" src="/images/icon.png" alt="firestorm logo" />
        <nav><ul class="links">
            <li><a href="#top">top</a></li>
            <li><a href="#features">features</a></li>
            <li><a href="#video">video</a></li>
            <li><a href="#download">download</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#donate">donate</a></li>
        </ul></nav>
    </div>
</header>
