<img class="icon" src="/images/icon.png" alt="firestorm icon" />
<div class="text">
    <h1>firestorm</h1>
    <p>The World of Warcraft Addon manager for OS X</p>
    <ul class="fa-ul">
        <li>Download and install addons, hassle free</li>
        <li>Use Curse.com, WoWInterface and more</li>
        <li>Keep your addons up-to-date automatically</li>
        <li>Backup your addons periodically</li>
    </ul>
</div>
<div class="links">
    <ul>
        <li><a href="#features">features</a></li>
        <li><a href="#video">video</a></li>
        <li><a href="#download">download</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#donate">donate</a></li>
    </ul>
</div>