// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$dark-red: #A52A2A;

$spacing-unit:     20px;

$text-color:       #111;
$light-text-color: #CAD7D8;
$background-color: #292929;
$border-color:     #292929;
$brand-color:      $dark-red;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;


