#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;

    font-size: $base-font-size * 0.9;
    line-height: $base-line-height * 0.9;
    color: $offwhite;

    background-color: $red;
    padding: 20px 10px 10px 0;

    a {
        color: $offwhite;
        text-decoration: underline;

        &:hover {
            color: black;
        }
    }

    .links {
        float: left;

        li {
            display: inline-block;
            margin: 0 10px;
        }
    }
    .donate {
        float: right;
        text-align: right;
    }
}
