#progress {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    height: 2px;

    .bar {
        background-color: $progress-color;
        width: 50%;
        height: 2px;
    }
}
