#settings {
    position: absolute;
    top: 28px;
    right: 20px;

    .open {
        display: block;
        color: $base-font-color;

        &:hover {
            color: #2980b9;
        }
    }

    .modal {
        position: fixed;
        top: 60px;
        left: 40px;
        right: 40px;
        bottom: 79px;
        z-index: 9999;
        background-color: $base-body-color;
        border: 1px solid $base-border-color;
        overflow-y: auto;
        padding: 10px;

        label {
            display: inline-block;
        }

        span {
            font-size: $base-font-size * 0.9;
            float: right;
        }

        h2, input {
            margin-bottom: 20px;
        }
    }
}
