$grey: #BBBEAD;
$blue: #46626D;
$purple: #825B60;
$darkred: #AD5758;
$red: #EB5240;
$offwhite: #E5DCC7;

$progress-color: $darkred;
$addon-background-color: #f6f6f6;
$button-hover-color: $blue;
$delete-color: $darkred;
